<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Witamy w serwisie FreeEvents, <%= @user.name %></h1>
    <p>
      Rejestracja przebiegła poprawnie.
      Twój login to : <%= @user.login %>.<br/>
    </p>
  </body>
</html>

